
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<br /><br /><br /><br /><br /><br />

                              <center>
                                  <div class="">
                                      <h1>Welcome to The @Session["restaurantname"] restaurant's Dashboard.</h1>
                                  </div>
                              </center>