
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br /> <br /> <br /> <br /> <br />

<center>
    <h1>

        <div>
            <span>Welcome to the Admin dashboard, <br /> @Session["username"]</span>
        </div>

    </h1>
</center>